.header {
  background-color: #a0b5b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  color: white;
  margin: 0;
  font-size: 128px;
  line-height: 1; /* 줄 간격 조정 */
}

.logo p {
  color: white;
  margin: 0;
  font-size: 1em;
  margin-top: 10px; /* ToSS와 Toeic Smart Speaking 사이 간격 */
}

.nav {
  max-width: 800px;
  width: 500px;
  height: 54px;
  background-color: rgba(104, 104, 104, 0.5);
  border-radius: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.separator {
  color: white;
  margin: 0 10px;
}