.sound-button {
    background-color: #4F4C5E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
  }
  
  .sound-button:hover {
    background-color: #ff398c;
  }