.inter-base {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  .inter-thin { font-weight: 100; }
  .inter-extra-light { font-weight: 200; }
  .inter-light { font-weight: 300; }
  .inter-regular { font-weight: 400; }
  .inter-medium { font-weight: 500; }
  .inter-semi-bold { font-weight: 600; }
  .inter-bold { font-weight: 700; }
  .inter-extra-bold { font-weight: 800; }
  .inter-black { font-weight: 900; }